extends base

block content

    form(method="POST", enctype="multipart/form-data")
        label(for="avater")
            if loggedInUser.avatarUrl
                if loggedInUser.avatarUrl.includes("http")
                    img(src=loggedInUser.avatarUrl, width="400", height="300").avartar.profile__data
                else
                    img(src="/" + loggedInUser.avatarUrl, width="400", height="300").avartar.profile__data
        input(
            id="avater"
            type="file"
            name="avatar"
            accept="image/*"
        )
        input(
            name="name",
            type="text",
            placeholder="Name",
            value=loggedInUser.name,
            required
        )
        input(
            name="email",
            type="email",
            placeholder="Email",
            value=loggedInUser.email,
            required
        )
        input(
            name="username",
            type="text",
            placeholder="UserName",
            value=loggedInUser.username,
            required
        )
        input(
            name="location",
            type="text",
            placeholder="Location",
            value=loggedInUser.location,
            required
        )
        input(
            type="submit",
            value="Update Profile"
        )
        if !loggedInUser.socialOnly
            hr
            a(href="change-password").edit-profile__password Change Paswrod &rarr;