extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(
            name="oldPassword",
            type="Password",
            placeholder="Old Password"
        )
        input(
            name="newPassword",
            type="Password",
            placeholder="New password"
        )
        input(
            name="newPasswordCheck",
            type="Password",
            placeholder="New password Confirm"
        )
        input(
            type="submit",
            value="ChangePassword"
        )
